* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #000000;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: black;
}

@media screen and (min-width: 415px) {
    .home-page {
        display: flex;
    }

    html {
        font-size: 8.68px;
    }

    .profile-icon {
        display: none;
    }

    .input-icons {
        display: none;
    }

    .social {
        display: none;
    }

    .navigation-section {
        border: 1px inset #e7e9ea;
        width: 35.5rem;

        #desktop-xIcon {
            width: 3.6rem;
            svg {
                fill: #e7e9ea;
            }
            margin-left: 3.5rem;
            padding-top: 2rem;
        }

        .navbar {
            margin-top: 3rem;
            margin-left: 2.5rem;

            .desktop-items {
                display: flex;
                margin-left: 1.2rem;
                margin-right: 1.8rem;
                margin-top: 2.7rem;
                align-items: center;
            }

            .mobile-desktop-items {
                display: flex;
                margin-left: 1.2rem;
                margin-top: 2.7rem;
                margin-right: 1.8rem;
                align-items: center;
            }

            .nav-text {
                color: #e7e9ea;
                font-size: 2.7rem;
            }

            .nav-icon {
                width: 3.2rem;
                svg {
                    fill: #e7e9ea;
                }
                margin-right: 2rem;
            }

            .desktop-items:hover {
                background-color: #181818;
                border-radius: 1rem;
                .nav-text {
                    background-color: #181818;
                }
            }

            .mobile-desktop-items:hover {
                background-color: #181818;
                .nav-text {
                    background-color: #181818;
                }
            }
        }

        .mobile-items {
            display: none;
        }

        .mobile-name {
            display: none;
        }

        .post-button {
            margin: 3.5rem 0 2rem 2rem;
            background-color: #1d9bf0;
            width: 29rem;
            height: 6.5rem;
            display: flex;
            justify-content: center;
            border-radius: 3rem;

            button {
                color: #e7e9ea;
                background-color: #1d9bf0;
                font-size: 2.5rem;
            }
        }

        .footer {
            margin: 10rem 3.1rem 0 3.2rem;
            padding-bottom: 2.5rem;
            display: flex;

            #footer-profile-img {
                background-color: #ef6c00;
                color: #e7e9ea;
                width: 5rem;
                border-radius: 3rem;
                text-align: center;
                font-size: 3rem;
                padding-top: 0.7rem;
            }

            .name {
                padding-left: 2rem;
                display: flex;
                justify-content: center;
                flex-direction: column;
                color: #e7e9ea;
                font-size: 2rem;
            }

            .expand {
                display: flex;
                padding-left: 6rem;
                font-size: 3rem;
                align-items: center;
                color: #e7e9ea;
            }
        }
    }

    //for tweet section

    .plus {
        display: none;
    }

    .tweet-box {
        display: flex;
        flex-direction: column;
        height: 22rem;
        width: 73rem;
        .input-container {
            padding-left: 2rem;
            display: flex;
            align-items: center;
            height: 10rem;

            .img {
                height: 5rem;
                width: 5rem;
                border-radius: 8rem;
                background-color: #ef6c00;
                color: white;
                font-size: 3rem;
                text-align: center;
                padding-top: 0.6rem;
            }

            .post-input {
                padding: 2rem;
                width: 100%;
                textarea {
                    width: 100%;
                    padding-top: 2.4rem;
                    padding-left: 0.6rem;
                    border: none;
                    color: white;
                    font-size: 2.5rem;
                    outline: none;
                }
            }
        }

        .input-data-container {
            display: flex;
            justify-content: space-between;
            padding-top: 2rem;
            .input-icons {
                display: flex;
                padding-left: 7.3rem;
                padding-top: 6rem;
                justify-content: space-around;
                width: 40%;
                .input-icon-items {
                    fill: #1d9bf0;
                    width: 3rem;
                    .dark-item {
                        fill: #0f4e78;
                    }
                }
            }

            .tweet-btn {
                padding-top: 5rem;
                padding-right: 2rem;
                button {
                    font-size: 2rem;
                    color: #808080;
                    background-color: #0f4e78;
                    padding: 1.5rem;
                    border-radius: 5rem;
                    width: 10rem;
                    font-size: 1.8rem;
                    font-weight: 600;
                }
            }
        }
    }

    //post-section
    .interaction-section {
        display: flex;
        flex-direction: column;
        border-right: 1px solid gray;
        border-bottom: 1px solid gray;
        .posts {
            overflow-y: scroll;
            width: 73rem;
            margin-top: 2rem;
            padding-top: 1rem;
            display: flex;
            flex-direction: column;
            height: 100rem;

            .post {
                padding-top: 1rem;
                border-top: 1px inset gray;
                border-bottom: 1px inset gray;
                width: 100%;
                height: 14rem;
                display: flex;
                padding-left: 1rem;

                .post-img {
                    padding-top: 0.7rem;
                    text-align: center;
                    font-size: 3rem;
                    color: #e7e9ea;
                    background-color: #ef6c00;
                    border-radius: 9rem;
                    height: 5rem;
                    width: 5rem;
                }

                .post-text {
                    padding-left: 1rem;
                    width: 100%;
                    span {
                        height: 10px;
                        width: 10px;
                        color: #f91880;
                        position: absolute;
                        top: 36rem;
                        left: 74.5rem;
                    }
                }

                .upper-post-section {
                    padding-top: 0.1rem;
                    display: flex;
                    height: 25%;

                    #user-name {
                        color: #e7e9ea;
                        font-size: 2rem;
                        font-weight: 600;
                    }
                    #user-id {
                        color: #808080;
                        font-size: 1.9rem;
                        padding-left: 0.5rem;
                    }
                }
                p {
                    color: #e7e9ea;
                    height: 49%;
                    font-size: 2rem;
                    font-weight: 500;
                }
            }

            .svg-container {
                width: 100%;
                display: flex;
                justify-content: space-between;

                .sub-svg-container {
                    display: flex;
                    justify-content: space-between;
                    width: 62rem;
                }
                svg {
                    fill: #e7e9ea;
                    height: 2rem;
                    margin-right: 1rem;
                }
            }
        }
    }
}

//mobile view
@media screen and (max-width: 414px) {
    html {
        font-size: 9px;
    }

    .profile-icon {
        width: 35.5rem;
        padding-left: 2rem;
        padding-top: 2rem;
        img {
            height: 4.5rem;
            width: 4.5rem;
            border-radius: 8rem;
        }
    }

    .header {
        display: flex;
        .add-btn {
            .plus {
                fill: #e7e9ea;
                width: 4rem;
                padding: 1rem;
                margin-left: 2rem;
                margin: 2rem 0 2rem 2rem;
                border: #71767b solid 1px;
                border-radius: 2rem;
            }
        }
    }

    .social {
        display: flex;
        color: #e7e9ea;
        padding-top: 1rem;

        justify-content: space-around;
        font-size: 1.8rem;
        width: 22rem;

        .connection-text {
            color: #71767b;
        }
    }

    .navigation-section {
        width: 30.5rem;
        height: 100.5rem;

        #desktop-xIcon {
            display: none;
        }

        .navbar {
            // padding-top: 1rem;
            padding-left: 1.1rem;

            .desktop-items {
                display: none;
            }

            .mobile-desktop-items {
                display: flex;
                margin-left: 1.2rem;
                margin-top: 2.7rem;
                margin-right: 1.8rem;
                align-items: center;
            }

            .nav-text {
                color: #e7e9ea;
                font-size: 2rem;
                font-weight: 600;
            }

            .nav-icon {
                width: 3.2rem;
                svg {
                    fill: #e7e9ea;
                }
                margin-right: 2.1rem;
            }
        }

        .mobile-items {
            display: flex;
            margin-left: 1.2rem;
            margin-top: 2.7rem;
            margin-right: 1.8rem;
            align-items: center;
        }

        .mobile-name {
            padding-left: 2rem;
            display: flex;
            justify-content: center;
            flex-direction: column;
            color: #e7e9ea;
            font-size: 2rem;
            font-weight: 600;
        }

        .post-button {
            display: none;
        }

        .footer {
            margin: 10rem 3.1rem 0 3.2rem;
            padding-bottom: 15rem;
            display: flex;

            .img {
                img {
                    display: none;
                }
            }

            .name {
                display: none;
            }

            .expand {
                display: none;
            }
        }
    }

    //tweet section
    .tweet-box {
        display: flex;
        flex-direction: column;
        height: 22rem;
        width: 73rem;
        .input-container {
            padding-left: 2rem;
            display: flex;
            align-items: center;
            height: 10rem;
            // .profile-img {
            //         color: white;
            //         height: 5rem;
            //         width: 5rem;
            //         border-radius: 8rem;
            // }

            .post-input {
                padding: 2rem;
                width: 100%;
                textarea {
                    width: 100%;
                    padding-top: 2.4rem;
                    padding-left: 0.6rem;
                    border: none;
                    color: white;
                    font-size: 2.5rem;
                    outline: none;
                }
            }
        }

        .input-data-container {
            display: flex;
            justify-content: space-between;
            padding-top: 2rem;
            .input-icons {
                display: flex;
                padding-left: 7.3rem;
                padding-top: 6rem;
                justify-content: space-around;
                width: 40%;
                .input-icon-items {
                    fill: #1d9bf0;
                    width: 3rem;
                    .dark-item {
                        fill: #0f4e78;
                    }
                }
            }

            .tweet-btn {
                padding-top: 5rem;
                padding-right: 2rem;
                button {
                    font-size: 2rem;
                    color: #808080;
                    background-color: #0f4e78;
                    padding: 1.5rem;
                    border-radius: 5rem;
                    width: 10rem;
                    font-size: 1.8rem;
                    font-weight: 600;
                }
            }
        }
    }

    .post {
        img {
            display: none;
        }
    }

    .posts {
        width: 73rem;
        margin-top: 2rem;
        padding-top: 1rem;
        display: flex;
        flex-direction: column;

        .post {
            padding-top: 1rem;
            border-top: 1px inset gray;
            border-bottom: 1px inset gray;
            width: 100%;
            height: 14rem;
            display: flex;
            padding-left: 1rem;

            img {
                border-radius: 9rem;
                height: 5rem;
                width: 5rem;
            }

            .post-text {
                padding-left: 1rem;
                width: 100%;
                span {
                    height: 10px;
                    width: 10px;
                    color: #f91880;
                    position: absolute;
                    top: 36rem;
                    left: 74.5rem;
                }
            }

            .upper-post-section {
                padding-top: 0.1rem;
                display: flex;
                height: 25%;

                #user-name {
                    color: #e7e9ea;
                    font-size: 2rem;
                    font-weight: 600;
                }
                #user-id {
                    color: #808080;
                    font-size: 1.9rem;
                    padding-left: 0.5rem;
                }
            }
            p {
                color: #e7e9ea;
                height: 49%;
                font-size: 2rem;
                font-weight: 500;
            }
        }

        .svg-container {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .sub-svg-container {
                display: flex;
                justify-content: space-between;
                width: 62rem;
            }
            svg {
                fill: #e7e9ea;
                height: 2rem;
                margin-right: 1rem;
            }
        }
    }
}
