.SelectedTags {
    margin-left: 24rem;
    margin-right: 24rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
    font-size: 1.4rem;
    border-bottom: solid 2px grey;

    span {
        background-color: rgb(238, 153, 194);
        color: black;
        border-radius: 2rem;
        padding: 0.8rem 1.8rem;
        margin-bottom: 2rem;
        margin-left: 1rem;
        font-size: 1.1rem;
    }
}
