.Quotes {
    padding: 2rem 23rem;
}

button {
    background-color: rgb(255, 227, 202);
    color: rgb(12, 54, 158);
    padding: 1.5rem 2rem;
    margin-left: 24rem;
    border: none;
    font-size: 1rem;
    margin-top: 0.5rem;
    font-weight: 600;
    border-radius: 0.3rem;
}